@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}


.burned-img{
	opacity:0;
	transition: opacity 0.5s cubic-bezier(.73,.08,.39,.93);
	mix-blend-mode:multiply;
}

.display{
	opacity:1 !important;
	transition: opacity 0.5s cubic-bezier(.73,.08,.39,.93) !important;
}

.map-path{
	fill: none;
	stroke: #333333;
	stroke-width: .1px;
}

.hillshade{
	opacity: .3;
}


    